@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0f0f0f;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

button {
	border: none;
	cursor: pointer;
}

nav {
	background-color: #0f0f0f;
	padding: 20px 0px;
	width: 100%;
	z-index: 99;
}

nav.sticky {
	position: fixed;
	top: 0;
	animation: fadeInDown 0.5s;
}

@keyframes fadeInDown {
	from {
		transform: translateY(-50px);
	}
	to {
		transform: translateY(0);
	}
}

.nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	display: flex;
	list-style: none;
	align-items: center;
}

.nav-link {
	margin-right: 27px;
	font-size: 1.1rem;
}

.nav-link a {
	color: white;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.nav-link a::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #5c05f2;
	transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
	transform-origin: 0 0;
}

.nav-link a:hover::before {
	width: 100%;
	left: 0;
}

.nav-link a.active {
	color: #5c05f2;
}

.nav-link a.active::before {
	width: 100%;
	left: 0;
}

.logo {
	font-family: "Silkscreen";
	color: white;
	font-size: 1.5rem;
}

/* Hero */
.hero {
	margin-top: 30px;
}

.hero-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-weight: 900;
}

.hero-content p {
	font-weight: 500;
	letter-spacing: 5px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.hero-content h1 {
	font-size: 3.9rem;
	line-height: 70px;
	font-weight: 900;
}

.highlight {
	color: #5c05f2;
}

.hero-btns {
	margin-top: 40px;
}

.hero-btns a {
	font-weight: 500;
	text-decoration: none;
	color: white;
	margin-right: 20px;
	border: 2.5px solid #5c05f2;
	padding: 15px 40px;
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
}

.hero-btns a:nth-child(1) {
	background-color: #5c05f2;
}

.hero-btns a:nth-child(1):hover {
	background-color: #5208d1;
	border: 2.5px solid#5208d1;
}

.hero-img img {
	padding: 10px;
	filter: drop-shadow(7px 7px 2px rgba(0, 0, 0, 0.5));
}

/* About */

.about {
	margin-top: 100px;
}

.about-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.about-img img {
	max-width: 400px;
	border-right: 5px solid #5c05f2;
	border-bottom: 5px solid #5c05f2;
}

.about-text {
	color: white;
	max-width: 500px;
}

.header {
	font-size: 3rem;
}

.back {
	position: absolute;
	opacity: 10%;
	font-size: 6rem;
	font-weight: 900;
	margin-top: -59px;
}

.about-text p {
	font-weight: 500;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-size: 0.7rem;
	color: #7c7c7c;
}

.about-info {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.info h3 {
	font-size: 1rem;
}

.info p {
	font-weight: 300;
	letter-spacing: 0;
	font-size: 1rem;
}

.download-cv {
	margin-top: 30px;
	font-weight: 500;
	text-decoration: none;
	background-color: #5c05f2;
	color: white;
	margin-right: 20px;
	border: 2.5px solid #5c05f2;
	padding: 15px 40px;
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
	letter-spacing: 3px;
	transition: all 0.3s ease-in-out;
}

.download-cv:hover {
	background-color: #5208d1;
	border: 2.5px solid #5208d1;
}

/* Services */

.services {
	margin-top: 200px;
}

.services-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.service-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.service-heading {
	font-size: 3rem;
}

.service-back {
	font-size: 7rem;
	position: absolute;
	opacity: 20%;
	margin-top: 60px;
}

.service-header p {
	font-weight: 500;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-size: 0.8rem;
	color: #7c7c7c;
}

.service-cards {
	display: flex;
	margin-top: 60px;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.service-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 360px;
	padding: 90px 0px;
	background-color: #212121;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.service-card:hover {
	background-color: #5c05f2;
}

.service-card:hover span {
	color: white;
}

.service-card:hover h3 {
	color: #0f0f0f;
}

.service-card:hover .under-line::after {
	border-bottom: 1.5px solid #0f0f0f;
}

.service-card span {
	font-size: 3.5rem;
	margin-bottom: 10px;
	color: #5c05f2;
}

.service-card h3 {
	font-weight: 400;
	font-size: 1rem;
	color: white;
}

.under-line {
	position: relative;
	display: inline-block;
}

.under-line::after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 30px;
	border-bottom: 1.5px solid #5c05f2;
	transform: translateX(-50%);
}
